<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="Server1" value="192.168.243.137:59000,12" />
    <add key="Server2" value="192.168.243.137:59000,12" />
    <add key="Server3" value="192.168.243.137:59000,12" />
  </appSettings>
</configuration>