<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!-- for production : TRp6byyCsJG7S2poh5ON3zdH88SSm3LMffZ1fXy8o1H -->
    <!-- for Test : 5MIkfmCenOQ57YoCCq5F2pg0DycCfLjP5B3IdrUbxKs-->
    <add key="token" value="5MIkfmCenOQ57YoCCq5F2pg0DycCfLjP5B3IdrUbxKs"></add>
    
    <!--key= servicename, value=<<ip|host>:<port>,<durationTime>>-->
    <add key="service1" value="192.168.243.137:59000,30" />
    <add key="service2" value="192.168.243.137:59001,60" />
    <add key="service3" value="192.168.243.137:59002,120" />
  </appSettings>
</configuration>